<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= @team[:name]%></h1>
 <h2>Coach: <%= @team[:coach] %></h2>
 <h3>Point Guard: <%= @team[:pg]%></h3>
 <h4>Shooting Guard: <%= @team[:sg]%></h4>
 <h5>Small Forward: <%= @team[:sf]%></h5>
 <h6>Power Forward: <%= @team[:pf]%></h6>
 <h7>Center: <%= @team[:c]%></h7>


 </body>
</html>


