<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
  <h1><p>Team Name: <%= @name %></p></h1>
  <h2><p>Coach: <%= @coach %></p></h2>
  <h2><p>Point Guard: <%= @pg %></p></h2>
  <h2><p>Shooting Guard: <%= @sg %></p></h2>
  <h2><p>Small Forward: <%= @sf %></p></h2>
  <h2><p>Power Forward: <%= @pf %></p></h2>
  <h2><p>Center: <%= @c %></p></h2>

 </head>
 <body>
 
 


 </body>
</html>


